.aboutus{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    margin-bottom: 10px;
  }
}

.map{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div{
    margin: 20px;
  }
  h3{
    font-size: 15px;
  }
}

.map-traffic{
  border: solid 1px rgba(128, 128, 128, 0.228);
  width: 400px;
  height: 200px;
  padding: 20px;
  div{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
  }
}

.traffic-icon{
  font-size: 40px;
  background-color: #{$darkblue};
  color: white;
  padding: 7px;
  border-radius:5px;
  margin-right: 10px;
  margin-left: -15px;
}

.introduce{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce-member{
  padding: 20px;
  img{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: solid 1px rgba(128, 128, 128, 0.228);
  }
  div{
    font-size: 17px;
    text-align: center;

  }
  div:nth-child(2){
    font-weight: 700;
    padding: 10px;
  }
  a{
    text-decoration: underline;
    color: black;
  }
}


@include mobile {
  .aboutus{
    flex-direction: column;
  }
}