.bingo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans';
  button{
    margin-top: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: white;
    color: #{$darkblue};
    border: solid 1px #{$darkblue};
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
}

.bingo-not-completed{
  input{
    width: 130px;
    outline: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'Open Sans';
  }
}

@include tablet{
  .bingo-not-completed{
    input{
      width: 110px;
      outline: none;
      font-size: .85rem;
      text-align: center;
    }
  }
  button{
    margin-top: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: white;
    color: #{$darkblue};
    border: solid 1px #{$darkblue};
    border-radius: 5px;
    font-size: .85rem;
  }
}

@include mobile{
  .bingo-not-completed{
    input{
      width: 90px;
      outline: none;
      font-size: .75rem;
      text-align: center;
    }
  }
  button{
    margin-top: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: white;
    color: #{$darkblue};
    border: solid 1px #{$darkblue};
    border-radius: 5px;
    font-size: .75rem;
  }
}