* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 100;
  transition: .5s;
  background-color: rgb(255, 255, 255);
}

.header-logo{
  overflow: hidden;
  img{
    width: 150px; 
  }
}

.header-toggle{
  font-size: 1.5rem;
  color: #{$mainblue};
  cursor: pointer;
}

.sidebar{
  height: 100vh;
  position: fixed;
  top:0;
  right: -30%;
  background-color: #{$mainblue};
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: 100;
}

.show{
  right: 0;
}

.header-times{
  display: none;
}

.open{
  display: none;
}

.close{
  display: inline;
}

@include desktop {
  .sidebar{
    width: 200px;
  }
  .header-pd{
    padding-right:13.5rem;
  }
  
}

@include tablet {
  .sidebar{
    width: 68px;
  }
  .header-pd{
    padding-right:5rem;
  }
  
}

@include mobile {
  .sidebar{
    width: 68px;
  }
  .header-pd{
    padding-right:5rem;
  }
  
}