* {
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

nav{
  width: 1024px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    font-size: 25px;
    padding: 0 10px;
    color: #{$mainblue};
    img{
      width: 150px;
    }
  }
}
