.sidebar-mypage{
  width: 200px;
  height: 100%;
  margin-top: 100px;
  // border-right: solid 1px gray;
}

.sidebar-mypage-main{
  padding: 10px;
  h1{
    text-align: end;
    font-size: 1.0rem;
    margin-bottom: 10px;
    color: #{$mainblue};
  }
  ul{
    list-style: none;
    text-align: end;
    margin-bottom: 40px;     
    a{
      text-decoration: none;
      color: black;
      font-size: 1.0rem;
    }
    li{
      margin-bottom: 10px;
      h3{
        font-size: 1.0rem;
      }
    }
    a:hover, :focus{
      font-weight: 700;
      color: #{$mainblue};
    }
  }
}

@include mobile{
  .sidebar-mypage{
    width: 100px;
  }
  .sidebar-mypage-main{
    ul{
      a{
        font-size: .8rem;
      }
    }
  }
}