.bingo{
  display: grid;
  grid-template-rows: repeat(1fr);
}

.bingo-row{
  display: flex;
  flex-direction: row;
  >div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 150px;
    height: 150px;
    font-size: .9rem;
    text-align: center;
    >div{
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-size: .9rem;
      >div{
        height: 10px;
        margin-top: -20px;
        div{
          height: 10px;
        }
      }
    }
  }
}

.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: .5rem;
  display: flex;
  align-items: flex-start;
  height: 10px;
}

.progress {
  background-color: rgb(62, 122, 235);
  border-radius: .5rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.bingo-completed{
  background-color: #{$darkblue};
  color: white;
  display: flex;
  flex-direction: column;
}

.bingo-not-completed{
  background-color: #{$lightblue};
  display: flex;
  flex-direction: column;
}

@include tablet{
  .bingo-row{
    div{
      width: 130px;
      height: 130px;
    }
  }
}

@include mobile{
  .bingo-row{
    div{
      width: 100px;
      height: 100px;    
      font-size: .8rem;
      div{
        span{
          width: 7px;
          height: 7px;
        }
      }
    }
  }
}