@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.bingo {
  display: grid;
  grid-template-rows: repeat(1fr); }

.bingo-row {
  display: flex; }
  .bingo-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 120px;
    height: 120px;
    background-color: #A0CAFF; }

* {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center; }

nav {
  width: 1024px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav div {
    font-size: 25px;
    padding: 0 10px;
    color: #0055FE; }
    nav div img {
      width: 150px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100; }

.sidebar-container {
  width: 1024px;
  height: 90vh;
  display: flex;
  justify-content: flex-end; }

.sidebar-main {
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 300px;
  background-color: #004AB9;
  padding: 10px;
  height: 90vh; }
  .sidebar-main li {
    display: flex;
    justify-content: right;
    margin-right: 23px;
    padding: 0 5px;
    border-radius: 5px; }
    .sidebar-main li a {
      color: white;
      font-size: 1.0rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: 'OpenSans';
      text-align: left;
      text-decoration: none; }
  .sidebar-main li:nth-child(6) {
    margin-top: 50px; }
  .sidebar-main li:active,
  .sidebar-main li:hover {
    background-color: #002e74b8; }

.profile {
  font-size: 7.0rem;
  margin-bottom: 20px; }

* {
  box-sizing: border-box; }

.firsthome-slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.85, 0, 0.15, 1); }

.slide-content {
  position: absolute;
  top: 45%;
  left: 55%;
  height: 100vh;
  z-index: 2; }
  .slide-content h1 {
    font-family: 'OpenSans';
    font-size: 1.5rem; }

.slide-image {
  display: flex;
  justify-content: center; }
  .slide-image img {
    position: absolute;
    height: 100vh;
    z-index: 1;
    margin: -70px; }

#slide-1 {
  left: 0; }

#slide-2 {
  left: 100%; }

#slide-3 {
  left: 200%; }

#slide-4 {
  left: 300%; }

#slider-radio-1:checked ~ .slide {
  transform: translateX(0); }

#slider-radio-2:checked ~ .slide {
  transform: translateX(-100%); }

#slider-radio-3:checked ~ .slide {
  transform: translateX(-200%); }

#slider-radio-4:checked ~ .slide {
  transform: translateX(-300%); }

.slide-radio {
  display: none; }

.pagination {
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translateX(-50%);
  z-index: 1;
  display: flex; }

.pagination label {
  width: 24px;
  height: 24px;
  padding: 16px;
  opacity: 0.3;
  cursor: pointer;
  position: relative;
  transition: opacity, 0.3s ease-in-out; }

.pagination label::before,
.pagination label::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.pagination label::before {
  width: 8px;
  height: 8px;
  background: #fff; }

.pagination label::after {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  opacity: 0;
  transition: opacity .3s ease-in-out; }

#slide-radio-1:checked ~ .pagination label:nth-child(1),
#slide-radio-2:checked ~ .pagination label:nth-child(2),
#slide-radio-3:checked ~ .pagination label:nth-child(3),
#slide-radio-4:checked ~ .pagination label:nth-child(4) {
  opacity: 0.8; }

#slide-radio-1:checked ~ .pagination label:nth-child(1)::after,
#slide-radio-2:checked ~ .pagination label:nth-child(2)::after,
#slide-radio-3:checked ~ .pagination label:nth-child(3)::after,
#slide-radio-4:checked ~ .pagination label:nth-child(4)::after {
  opacity: 1; }

.mybingoinmypage-container {
  display: flex;
  flex-direction: column; }

.sidebar-mypage {
  width: 160px;
  height: 50vh;
  margin-left: 5%;
  margin-top: 10vh; }

.sidebar-mypage-main {
  padding: 10px;
  border-right: solid 1px black; }
  .sidebar-mypage-main h1 {
    text-align: end;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #0055FE; }
  .sidebar-mypage-main ul {
    list-style: none;
    text-align: end;
    margin-bottom: 40px; }
    .sidebar-mypage-main ul a {
      text-decoration: none;
      color: black;
      font-size: 1.0rem; }
    .sidebar-mypage-main ul li {
      margin-bottom: 10px; }
      .sidebar-mypage-main ul li h3 {
        font-size: 1.2rem; }
